doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(async, defer, src='https://scripts.simpleanalyticscdn.com/latest.js')
